body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #d1ebf3;
    text-align: center;
}

nav {
    background-color: #09396a;
    color: #3fa6e1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.subject-selection {
    background: rgb(35, 161, 193);
    display: inline-block;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background-color: #1469b3;
    color: rgb(117, 162, 203);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #2d9ccb;
}